<app-add-listing-form> </app-add-listing-form>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-4">
                    <label for="sort-field">Sort By</label>
                    <md-select name="sort-field" id="sort-field" 
                        [(ngModel)]="sortField">
                        <md-option *ngFor="let field of sortFields" [value]="field">
                            {{utilService.capitalize(field)}}
                        </md-option>

                    </md-select>
                </div>
                <div class="col-sm-4">
                    <label for="sort-direction">Sort Direction</label>
                    <div>
                        <button md-button color="accent"
                            [ngClass]="{'clicked': sortDirection === 'asc'}"
                            (click)="sortDirection='asc'">
                            ASC
                        </button>
                        <button md-button color="accent"
                            [ngClass]="{'clicked': sortDirection === 'desc'}"
                            (click)="sortDirection='desc'">
                            DESC
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let crib of cribs | sortBy: [sortField, sortDirection]; let i = index">
        <app-crib-card  [crib]="crib" class="col-sm-3"> </app-crib-card>
        <div class="clearfix" *ngIf="i > 0 && i % 3 === 0"> </div>
    </ng-container>
</div>


