<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Add a Listing</h4>
  </div>

  <div class="panel-body">
    <form #newCribForm="ngForm" (ngSubmit)="onCribSubmit(newCribForm.value)">
      <div class="form-group col-sm-4">
        <md-form-field>
          <input mdInput type="text" placeholder="Address" name="address" ngModel required>
        </md-form-field>
      </div>
      <div class="form-group col-sm-4">
        <md-form-field>
          <input mdInput type="text" 
                placeholder="Price"
                name="price"
                ngModel
                required>
        </md-form-field>
      </div>
      <div class="form-group col-sm-4">
        <md-select name="type" 
                id="property-type" 
                placeholder="Type"
                required
                ngModel>
          <md-option
              *ngFor="let type of propertyTypes"
              [value]="type">
              {{type}}
          </md-option>
        </md-select>
      </div>
      <div class="form-group col-sm-6">
        <md-form-field>
          <textarea mdInput name="description" 
                    type="text" 
                    placeholder="Description" 
                    ngModel
                    required>
          </textarea>
        </md-form-field>
      </div>
      <div class="form-group col-sm-2">
        <md-form-field>
          <input mdInput type="text" name="bedrooms" 
                ngModel
                required
                placeholder="Beds">
        </md-form-field>
      </div>
      <div class="form-contro col-sm-2">
        <md-form-field>
          <input mdInput type="text" 
                name="bathrooms"  
                placeholder="Baths"
                ngModel
                required>
        </md-form-field>
      </div>
      <div class="form-group col-sm-2">
        <md-form-field>
          <input type="text" 
                mdInput
                placeholder="SqFt" 
                name="area" ngModel required>
        </md-form-field>
      </div>
      <div class="form-group col-sm-12">
        <button [disabled]="!newCribForm.valid" md-raised-button color="primary" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>